/*location info styles*/
.location {
    display: flex;
    flex-direction: column;
    padding: 0 0 50px 0;
    align-items: center;
}

.location > .title {
    padding: 3px;
    margin-bottom: 50px;
}

select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.location div .logo {
    width: 100px;
    position: relative;
    top: 31px;
    left: 22px
}
/*location info styles*/
