ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 65vh;
    flex-shrink: 1;
    flex: 0 0 100;
    position: relative;
    top: 35vh;
    
}

li {
  flex: 1 1 auto;
  border: 3px dashed purple;
  list-style-type: none;
}