/************************************ card style component ************************************/
.card {
    text-align: center;
}

li {
    list-style: none;
    font-size: 50px;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

input[name=isDone] {
    width: 50px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
}

input[name=todo] {
    width: 400px;
    height: 50px!important;
    font-size: 30px;
    text-align: center;
}

.check, .remove {
   border-radius: 30px;
   width: 35px;
   height: 35px;
   margin: 0 15px;
}

.task-remove {
    padding: 0px 8px;
    cursor: pointer;
    opacity: 0;
    color: red;
}

div.task-remove:after {
    content: '×';
}


li:hover .task-remove, li:hover input[name=isDone] {
    opacity: 1;
}

.fontAwesome:hover {
    cursor: pointer;
}

del {
    opacity: .5;
}


/************************************ card style component ************************************/