/************************************ card style component ************************************/
.card {
    text-align: center;
}

li {
    list-style: none;
    font-size: 50px;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

input {
    width: 400px;
    height: 50px!important;
    font-size: 30px;
    text-align: center;
}

.check {
    border: 2px solid black;
}

.check, .remove {
   border-radius: 30px;
   width: 35px;
   height: 35px;
   margin: 0 15px;
}

.check .task-done-circle {
    color: green;
}

.task-remove {
    color: royalblue;
    padding: 5px 10px;
}

li:hover .task-remove {
    opacity: 1;
}

.fontAwesome {
    font-size: 30px;
}

.fontAwesome:hover {
    cursor: pointer;
}

/************************************ card style component ************************************/